noticias_empresariales_chile.json
{
  "name": "Boletín Diario - Noticias Empresariales Chile + Empleos Senior (Multi-Fuente)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "10a1b2c3-d4e5-4f67-8901-abcdef012345",
      "name": "Todos los dias a las 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-200, 780]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst fmtISO = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst yest = new Date(now.getTime() - 86400000);\nconst dias = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst fechaLegible = `${dias[now.getDay()]} ${now.getDate()} de ${meses[now.getMonth()]} de ${now.getFullYear()}`;\nreturn [{ json: {\n  todayISO: fmtISO(now),\n  yesterdayISO: fmtISO(yest),\n  fechaLegible,\n  fechaCorta: `${pad(now.getDate())}/${pad(now.getMonth()+1)}/${now.getFullYear()}`\n} }];"
      },
      "id": "20b2c3d4-e5f6-4a78-9012-bcdef0123456",
      "name": "Preparar Fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, 780]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbm", "value": "nws" },
            { "name": "tbs", "value": "qdr:d" },
            { "name": "q", "value": "empresas Chile (resultados OR adquisición OR fusión OR inversión OR IPSA OR mercado OR utilidades OR CMF)" },
            { "name": "gl", "value": "cl" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "20" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "31a00001-0000-4000-8000-000000000001",
      "name": "SerpAPI Noticias Chile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbm", "value": "nws" },
            { "name": "tbs", "value": "qdr:d" },
            { "name": "q", "value": "mercados globales (Wall Street OR Fed OR \"S&P 500\" OR cobre OR commodities OR empresas) economía" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "20" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "31a00002-0000-4000-8000-000000000002",
      "name": "SerpAPI Noticias Internacionales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 240],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbm", "value": "nws" },
            { "name": "tbs", "value": "qdr:w" },
            { "name": "q", "value": "Chile (\"nuevo gerente general\" OR \"asume como gerente\" OR \"nombramiento\" OR \"deja el cargo\" OR \"nuevo CEO\" OR \"designó como\" OR \"renuncia gerente\")" },
            { "name": "gl", "value": "cl" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "20" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "31a00003-0000-4000-8000-000000000003",
      "name": "SerpAPI Movimientos Prensa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbs", "value": "qdr:w" },
            { "name": "q", "value": "(site:linkedin.com/posts OR site:linkedin.com/pulse) Chile (\"nuevo gerente general\" OR \"asumo como\" OR \"me incorporo a\" OR \"nueva etapa\" OR \"nuevo desafío\" OR \"nuevo rol\")" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "15" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "31a00004-0000-4000-8000-000000000004",
      "name": "SerpAPI Movimientos LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 560],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google_jobs" },
            { "name": "q", "value": "\"Gerente General\" OR Gerente OR Director OR VP OR \"Vice President\" OR CEO OR \"Country Manager\" -practicante -junior -analista -internship" },
            { "name": "location", "value": "Chile" },
            { "name": "gl", "value": "cl" },
            { "name": "hl", "value": "es" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "31a00005-0000-4000-8000-000000000005",
      "name": "SerpAPI Google Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 720],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TAVILY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"noticias empresas Chile mercado IPSA resultados fusiones adquisiciones negocios\",\n  \"topic\": \"news\",\n  \"days\": 1,\n  \"max_results\": 10\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "32b00001-0000-4000-8000-000000000006",
      "name": "Tavily Noticias Chile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 880],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TAVILY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"global markets news Wall Street Fed copper commodities major companies\",\n  \"topic\": \"news\",\n  \"days\": 1,\n  \"max_results\": 10\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "32b00002-0000-4000-8000-000000000007",
      "name": "Tavily Noticias Internacionales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 1040],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TAVILY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"Chile nombramiento nuevo gerente general CEO director ejecutivo asume cargo empresa\",\n  \"topic\": \"news\",\n  \"days\": 7,\n  \"search_depth\": \"advanced\",\n  \"max_results\": 10\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "32b00003-0000-4000-8000-000000000008",
      "name": "Tavily Movimientos Ejecutivos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 1200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "gerente general OR director OR vicepresidente OR CEO OR country manager in Chile" },
            { "name": "country", "value": "cl" },
            { "name": "date_posted", "value": "week" },
            { "name": "num_pages", "value": "1" },
            { "name": "page", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-RapidAPI-Key", "value": "={{ $env.RAPIDAPI_KEY }}" },
            { "name": "X-RapidAPI-Host", "value": "jsearch.p.rapidapi.com" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "33c00001-0000-4000-8000-000000000009",
      "name": "JSearch Empleos Senior",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 1360],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/bebity~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "token", "value": "={{ $env.APIFY_TOKEN }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"title\": \"Gerente General\",\n  \"location\": \"Chile\",\n  \"rows\": 25\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "34d00001-0000-4000-8000-00000000000a",
      "name": "Apify LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 1520],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "id": "40e00001-0000-4000-8000-00000000000b",
      "name": "Esperar Todas las Fuentes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 780]
    },
    {
      "parameters": {
        "jsCode": "// Consolida los resultados de todas las fuentes en una sola estructura.\n// Cada fuente puede haber fallado (onError: continue), por eso todo va con try/catch.\nconst fechas = $('Preparar Fechas').first().json;\nconst get = (name) => { try { return $(name).all().map(i => i.json || {}); } catch (e) { return []; } };\nconst trunc = (s, n = 350) => (s || '').toString().replace(/\\s+/g, ' ').trim().slice(0, n);\nconst limpiar = arr => arr.filter(x => x.titulo || x.cargo).filter(x => x.link);\n\n// --- SerpAPI: noticias (news_results) ---\nconst serpNews = (name) => get(name).flatMap(j => j.news_results || []).map(r => ({\n  titulo: r.title, link: r.link,\n  fuente: (r.source && r.source.name) || r.source || 'Google News',\n  fecha: r.date || '', resumen: trunc(r.snippet), via: 'SerpAPI'\n}));\n\n// --- SerpAPI: resultados orgánicos (LinkedIn indexado) ---\nconst serpOrganic = (name) => get(name).flatMap(j => j.organic_results || []).map(r => ({\n  titulo: r.title, link: r.link, fuente: 'LinkedIn (vía Google)',\n  fecha: r.date || '', resumen: trunc(r.snippet), via: 'SerpAPI'\n}));\n\n// --- SerpAPI: Google Jobs ---\nconst serpJobs = get('SerpAPI Google Jobs').flatMap(j => j.jobs_results || []).map(r => ({\n  cargo: r.title, empresa: r.company_name, ubicacion: r.location,\n  descripcion: trunc(r.description, 400),\n  link: (r.apply_options && r.apply_options[0] && r.apply_options[0].link) || r.share_link || '',\n  publicado: (r.detected_extensions && r.detected_extensions.posted_at) || '',\n  via: 'Google Jobs (SerpAPI)'\n}));\n\n// --- Tavily ---\nconst tavily = (name) => get(name).flatMap(j => j.results || []).map(r => ({\n  titulo: r.title, link: r.url, fuente: r.url ? new URL(r.url).hostname.replace('www.', '') : 'Tavily',\n  fecha: r.published_date || '', resumen: trunc(r.content), via: 'Tavily'\n}));\n\n// --- JSearch ---\nconst jsearch = get('JSearch Empleos Senior').flatMap(j => j.data || []).map(r => ({\n  cargo: r.job_title, empresa: r.employer_name,\n  ubicacion: [r.job_city, r.job_country].filter(Boolean).join(', '),\n  descripcion: trunc(r.job_description, 400),\n  link: r.job_apply_link || '',\n  publicado: r.job_posted_at_datetime_utc || '',\n  via: 'JSearch (Google for Jobs)'\n}));\n\n// --- Apify (los items del dataset llegan como items separados con campos variables) ---\nconst apify = get('Apify LinkedIn Jobs').map(r => ({\n  cargo: r.title || r.jobTitle || '', empresa: r.companyName || r.company || '',\n  ubicacion: r.location || '',\n  descripcion: trunc(r.description || r.descriptionText || '', 400),\n  link: r.jobUrl || r.link || r.url || '',\n  publicado: r.postedTime || r.publishedAt || '',\n  via: 'LinkedIn Jobs (Apify)'\n})).filter(x => x.cargo && x.link);\n\nconst datos = {\n  noticias_chile: limpiar([...serpNews('SerpAPI Noticias Chile'), ...tavily('Tavily Noticias Chile')]).slice(0, 20),\n  noticias_internacionales: limpiar([...serpNews('SerpAPI Noticias Internacionales'), ...tavily('Tavily Noticias Internacionales')]).slice(0, 20),\n  movimientos_ejecutivos: limpiar([...serpNews('SerpAPI Movimientos Prensa'), ...serpOrganic('SerpAPI Movimientos LinkedIn'), ...tavily('Tavily Movimientos Ejecutivos')]).slice(0, 20),\n  empleos: [...serpJobs, ...jsearch, ...apify].slice(0, 30)\n};\n\nconst conteo = Object.fromEntries(Object.entries(datos).map(([k, v]) => [k, v.length]));\nreturn [{ json: { ...fechas, datos, conteo } }];"
      },
      "id": "50f00001-0000-4000-8000-00000000000c",
      "name": "Consolidar Fuentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 780]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hoy es {{ $json.fechaLegible }}. Recibiste datos ya recolectados EN PARALELO desde varias fuentes (SerpAPI, Tavily, JSearch, Apify/LinkedIn). Conteo por categoría: {{ JSON.stringify($json.conteo) }}.\n\nDATOS CONSOLIDADOS (JSON):\n{{ JSON.stringify($json.datos) }}\n\nTu misión: cruzar, depurar y consolidar estos datos, y devolver ÚNICAMENTE el código HTML completo de un email profesional, sin bloques markdown ni texto extra, con estas 4 secciones:\n\n=== SECCIÓN 1: 🇨🇱 NOTICIAS DE CHILE — EMPRESAS Y MERCADOS ===\nUsa `noticias_chile`. Elimina duplicados entre fuentes (misma noticia reportada por SerpAPI y Tavily = UNA sola entrada; que aparezca en varias fuentes es señal de importancia: priorízala). Entre 5 y 10 noticias, ordenadas por relevancia empresarial. Cada una: titular en negrita, fuente, resumen de 1-3 líneas, botón 'Ver noticia' con el link.\n\n=== SECCIÓN 2: 👔 MOVIMIENTOS DE EJECUTIVOS EN CHILE ===\nUsa `movimientos_ejecutivos` (prensa + LinkedIn). Solo cambios reales de personas: quién asume o deja qué cargo, en qué empresa, empresa de origen/destino si se conoce. Descarta resultados que no sean movimientos concretos de ejecutivos. Cita fuente y enlace de cada uno.\n\n=== SECCIÓN 3: 🌎 NOTICIAS INTERNACIONALES DE MERCADOS ===\nUsa `noticias_internacionales`. Mismas reglas de deduplicación. Destaca el cobre y lo relevante para Chile. Entre 5 y 8 noticias.\n\n=== SECCIÓN 4: 💼 OPORTUNIDADES LABORALES SENIOR EN CHILE ===\nUsa `empleos` (unión de Google Jobs, JSearch y LinkedIn/Apify — deduplica el mismo cargo/empresa que venga por varias vías, prefiriendo el link de postulación más directo).\n\nPERFIL DEL CANDIDATO (calcula el match contra esto):\n- Associate Partner en McKinsey & Company, basado en Chile.\n- Consultoría estratégica de alto nivel: estrategia corporativa, transformación, liderazgo de equipos senior y relación con C-suite.\n- Experiencia profunda en retail, consumo masivo, logística/operaciones y optimización de cadenas de suministro.\n- Busca su siguiente rol ejecutivo en Chile: Gerente General, Gerente Corporativo/de División, Vicepresidente, Director Ejecutivo, CEO o Country Manager.\n\nReglas para esta sección:\n- SOLO posiciones senior (Gerente, Gerente General, VP, Director, CEO, Country Manager). Descarta cargos junior, analistas, jefaturas menores y practicantes.\n- Para CADA oferta que quieras incluir, llama primero a la herramienta verificar_link con su URL. Si devuelve error, no carga, o el contenido indica oferta cerrada / expirada / ya no disponible, DESCÁRTALA. Si el sitio bloquea la verificación (p. ej. LinkedIn pide login) pero la oferta es reciente, inclúyela marcada como '(link no verificable, oferta reciente)'.\n- Para cada oferta: cargo en negrita, empresa, ubicación, la fuente de donde vino (via), descripción de 2-3 líneas, badge 'Match: NN%' con una línea justificando el porcentaje según el PERFIL, y botón verde 'Postular' con el link.\n- Ordena de mayor a menor % de match. Incluye entre 3 y 8 ofertas.\n\nFORMATO DEL EMAIL HTML:\n- Diseño profesional responsivo: fondo #f4f6f9, header con gradiente azul oscuro (#1e3a5f a #2d5986) con el título 'Boletín Empresarial Chile' y la fecha, fuente sans-serif.\n- Banner bajo el header: N noticias Chile · N movimientos · N internacionales · N empleos (los números finales tras tu depuración).\n- Botones: azul (#2d5986) 'Ver noticia', verde (#27ae60) 'Postular'.\n- Footer: 'Boletín generado automáticamente — fuentes: SerpAPI, Tavily, JSearch, LinkedIn/Apify'.\n\nREGLAS GENERALES:\n- Descarta deportes, farándula y política sin ángulo económico.\n- No inventes nada: usa exclusivamente los DATOS CONSOLIDADOS. Si una sección queda sin resultados, escribe 'Sin novedades relevantes hoy'.\n- Devuelve ÚNICAMENTE el HTML, sin ```html ni texto adicional.",
        "options": {
          "systemMessage": "Eres el asistente ejecutivo de Benjamín: analista de noticias de negocios y headhunter personal, especializado en el mercado chileno. Trabajas sobre datos ya recolectados de múltiples fuentes en paralelo: tu valor está en cruzarlas, deduplicar, priorizar lo que aparece en varias fuentes y descartar el ruido. Nunca inventas contenido: cada ítem del boletín debe provenir de los datos recibidos, con su enlace. Verificas los links de las ofertas de empleo con la herramienta verificar_link antes de incluirlas. Devuelves siempre HTML puro.",
          "maxIterations": 25,
          "returnIntermediateSteps": false
        }
      },
      "id": "30c3d4e5-f6a7-4b89-0123-cdef01234567",
      "name": "Agente Consolidador del Boletin",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1120, 780],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "40d4e5f6-a7b8-4c90-1234-def012345678",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [1040, 1020],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "InzYRDhfDgJFmwlQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "verificar_link",
        "description": "Verifica que una URL de oferta de empleo este activa. Hace GET a la URL y retorna el contenido de la pagina. Usala una vez por cada oferta antes de incluirla en el boletin: si retorna error, la pagina no carga, o el texto indica que la oferta esta cerrada / expirada / ya no disponible, descarta esa oferta.",
        "method": "GET",
        "url": "={{ $fromAI('url', 'URL completa de la oferta de empleo a verificar, por ejemplo https://www.linkedin.com/jobs/view/123456', 'string') }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b0e1f2a3-b4c5-4367-89ab-456789012345",
      "name": "Verificar Link",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1240, 1020],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "bbrunetm@gmail.com",
        "subject": "=[BOLETÍN] Noticias Empresariales Chile + Empleos Senior - {{ $('Preparar Fechas').first().json.fechaCorta }}",
        "emailType": "html",
        "html": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c0f2a3b4-c5d6-4478-9abc-567890123456",
      "name": "Enviar Boletin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1440, 780],
      "credentials": {
        "gmailOAuth2": {
          "id": "GIlOgk58EyoAXQJU",
          "name": "Gmail - Susi"
        }
      }
    }
  ],
  "connections": {
    "Todos los dias a las 7AM": {
      "main": [
        [
          { "node": "Preparar Fechas", "type": "main", "index": 0 }
        ]
      ]
    },
    "Preparar Fechas": {
      "main": [
        [
          { "node": "SerpAPI Noticias Chile", "type": "main", "index": 0 },
          { "node": "SerpAPI Noticias Internacionales", "type": "main", "index": 0 },
          { "node": "SerpAPI Movimientos Prensa", "type": "main", "index": 0 },
          { "node": "SerpAPI Movimientos LinkedIn", "type": "main", "index": 0 },
          { "node": "SerpAPI Google Jobs", "type": "main", "index": 0 },
          { "node": "Tavily Noticias Chile", "type": "main", "index": 0 },
          { "node": "Tavily Noticias Internacionales", "type": "main", "index": 0 },
          { "node": "Tavily Movimientos Ejecutivos", "type": "main", "index": 0 },
          { "node": "JSearch Empleos Senior", "type": "main", "index": 0 },
          { "node": "Apify LinkedIn Jobs", "type": "main", "index": 0 }
        ]
      ]
    },
    "SerpAPI Noticias Chile": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 0 }
        ]
      ]
    },
    "SerpAPI Noticias Internacionales": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 1 }
        ]
      ]
    },
    "SerpAPI Movimientos Prensa": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 2 }
        ]
      ]
    },
    "SerpAPI Movimientos LinkedIn": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 3 }
        ]
      ]
    },
    "SerpAPI Google Jobs": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 4 }
        ]
      ]
    },
    "Tavily Noticias Chile": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 5 }
        ]
      ]
    },
    "Tavily Noticias Internacionales": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 6 }
        ]
      ]
    },
    "Tavily Movimientos Ejecutivos": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 7 }
        ]
      ]
    },
    "JSearch Empleos Senior": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 8 }
        ]
      ]
    },
    "Apify LinkedIn Jobs": {
      "main": [
        [
          { "node": "Esperar Todas las Fuentes", "type": "main", "index": 9 }
        ]
      ]
    },
    "Esperar Todas las Fuentes": {
      "main": [
        [
          { "node": "Consolidar Fuentes", "type": "main", "index": 0 }
        ]
      ]
    },
    "Consolidar Fuentes": {
      "main": [
        [
          { "node": "Agente Consolidador del Boletin", "type": "main", "index": 0 }
        ]
      ]
    },
    "Agente Consolidador del Boletin": {
      "main": [
        [
          { "node": "Enviar Boletin", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          { "node": "Agente Consolidador del Boletin", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Verificar Link": {
      "ai_tool": [
        [
          { "node": "Agente Consolidador del Boletin", "type": "ai_tool", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "2"
}
