noticias_empresariales_chile.json
{
  "name": "Boletín Diario - Noticias Empresariales Chile + Empleos Senior",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "10a1b2c3-d4e5-4f67-8901-abcdef012345",
      "name": "Todos los dias a las 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst fmtISO = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst yest = new Date(now.getTime() - 86400000);\nconst dias = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst fechaLegible = `${dias[now.getDay()]} ${now.getDate()} de ${meses[now.getMonth()]} de ${now.getFullYear()}`;\nreturn [{ json: {\n  todayISO: fmtISO(now),\n  yesterdayISO: fmtISO(yest),\n  fechaLegible,\n  fechaCorta: `${pad(now.getDate())}/${pad(now.getMonth()+1)}/${now.getFullYear()}`\n} }];"
      },
      "id": "20b2c3d4-e5f6-4a78-9012-bcdef0123456",
      "name": "Preparar Fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hoy es {{ $json.fechaLegible }} (ayer fue {{ $json.yesterdayISO }}).\n\nTu misión: construir el boletín diario de Benjamín. Debes llamar TODAS estas herramientas (cada una al menos una vez):\n1. noticias_chile\n2. noticias_internacionales\n3. movimientos_ejecutivos_prensa\n4. movimientos_ejecutivos_linkedin\n5. empleos_google_jobs\n6. empleos_linkedin\n7. verificar_link (una vez por cada oferta de empleo que vayas a incluir)\n\nCon los resultados, devuelve ÚNICAMENTE el código HTML completo de un email profesional, sin bloques markdown ni texto extra, con estas 4 secciones en este orden:\n\n=== SECCIÓN 1: 🇨🇱 NOTICIAS DE CHILE — EMPRESAS Y MERCADOS ===\nNoticias de las últimas 24 horas sobre empresas chilenas, mercados, resultados, fusiones y adquisiciones, IPSA, economía. Prioriza fuentes como Diario Financiero (df.cl), Pulso/La Tercera, Emol Economía, El Mercurio Inversiones. Entre 5 y 10 noticias. Cada una: titular en negrita, fuente, resumen de 1-3 líneas, enlace 'Ver noticia'.\n\n=== SECCIÓN 2: 👔 MOVIMIENTOS DE EJECUTIVOS EN CHILE ===\nNombramientos, salidas y cambios de ejecutivos chilenos de la última semana: nuevos gerentes generales, CEOs, directores, VPs que entran o salen. Combina lo que encuentres en prensa (movimientos_ejecutivos_prensa) y en LinkedIn (movimientos_ejecutivos_linkedin). Para cada movimiento indica: nombre de la persona, cargo que asume o deja, empresa de origen y destino si se conoce, fuente y enlace.\n\n=== SECCIÓN 3: 🌎 NOTICIAS INTERNACIONALES DE MERCADOS ===\nNoticias de las últimas 24 horas de mercados globales y grandes empresas: Wall Street, Fed, commodities (destaca el cobre, clave para Chile), tecnología, Latinoamérica. Entre 5 y 8 noticias, mismo formato que la sección 1.\n\n=== SECCIÓN 4: 💼 OPORTUNIDADES LABORALES SENIOR EN CHILE ===\nPERFIL DEL CANDIDATO (calcula el match contra esto):\n- Associate Partner en McKinsey & Company, basado en Chile.\n- Consultoría estratégica de alto nivel: estrategia corporativa, transformación, liderazgo de equipos senior y relación con C-suite.\n- Experiencia profunda en retail, consumo masivo, logística/operaciones y optimización de cadenas de suministro.\n- Busca su siguiente rol ejecutivo en Chile: Gerente General, Gerente Corporativo/de División, Vicepresidente, Director Ejecutivo, CEO o Country Manager.\n\nReglas para esta sección:\n- SOLO posiciones senior (Gerente, Gerente General, VP, Director, CEO, Country Manager). Descarta cargos junior, analistas, jefaturas menores y practicantes.\n- Para CADA oferta que quieras incluir, llama primero a verificar_link con su URL. Si el link devuelve error, no carga, o el contenido indica que la oferta está cerrada / ya no disponible / expirada, DESCÁRTALA. Si el sitio bloquea la verificación (p. ej. LinkedIn pide login) pero la oferta apareció en resultados recientes, inclúyela marcada como '(link no verificable, oferta reciente)'.\n- Para cada oferta incluye: cargo en negrita, empresa, ubicación, descripción de 2-3 líneas con lo más relevante del rol, un badge 'Match: NN%' con una línea justificando el porcentaje según el PERFIL, y un botón verde 'Postular' con el enlace verificado.\n- Ordena las ofertas de mayor a menor % de match. Incluye entre 3 y 8 ofertas.\n\nFORMATO DEL EMAIL HTML:\n- Diseño profesional responsivo: fondo #f4f6f9, header con gradiente azul oscuro (#1e3a5f a #2d5986) mostrando el título 'Boletín Empresarial Chile' y la fecha de hoy, fuente sans-serif.\n- Un banner bajo el header con el resumen: N noticias Chile · N movimientos · N internacionales · N empleos.\n- Separadores claros entre secciones con los títulos y emojis indicados.\n- Botones de enlace: azul (#2d5986) para 'Ver noticia', verde (#27ae60) para 'Postular'.\n- Footer: 'Boletín generado automáticamente por tu asistente de noticias y búsqueda ejecutiva'.\n\nREGLAS GENERALES:\n- Descarta deportes, farándula y política sin ángulo económico.\n- No inventes noticias, movimientos ni ofertas: usa solo lo que devuelvan las herramientas. Si una sección queda sin resultados, escribe en ella 'Sin novedades relevantes hoy'.\n- Devuelve ÚNICAMENTE el HTML, sin ```html ni texto adicional.",
        "options": {
          "systemMessage": "Eres el asistente ejecutivo de Benjamín: analista de noticias de negocios y headhunter personal, especializado en el mercado chileno. Siempre llamas todas las herramientas de búsqueda antes de redactar, procesas los JSON que devuelven y construyes emails HTML completos, precisos y visualmente profesionales en español. Nunca inventas contenido: cada ítem del boletín debe provenir de un resultado real de las herramientas, con su enlace. Verificas los links de las ofertas de empleo con la herramienta verificar_link antes de incluirlas.",
          "maxIterations": 25,
          "returnIntermediateSteps": false
        }
      },
      "id": "30c3d4e5-f6a7-4b89-0123-cdef01234567",
      "name": "Agente Boletin Empresarial",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [460, 400],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "40d4e5f6-a7b8-4c90-1234-def012345678",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [300, 640],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "InzYRDhfDgJFmwlQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "noticias_chile",
        "description": "Busca las noticias de las ultimas 24 horas sobre empresas, negocios y mercados en Chile (Diario Financiero, Pulso, Emol Economia, etc). Retorna JSON con titulares, fuente, fecha, resumen y enlace.",
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbm", "value": "nws" },
            { "name": "tbs", "value": "qdr:d" },
            { "name": "q", "value": "empresas Chile (resultados OR adquisición OR fusión OR inversión OR IPSA OR mercado OR utilidades OR CMF)" },
            { "name": "gl", "value": "cl" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "20" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "50e5f6a7-b8c9-4d01-2345-ef0123456789",
      "name": "Noticias Chile",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [460, 640]
    },
    {
      "parameters": {
        "name": "noticias_internacionales",
        "description": "Busca las noticias de las ultimas 24 horas sobre mercados globales y grandes empresas: Wall Street, Fed, commodities, cobre, tecnologia, Latinoamerica. Retorna JSON con titulares, fuente, resumen y enlace.",
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbm", "value": "nws" },
            { "name": "tbs", "value": "qdr:d" },
            { "name": "q", "value": "mercados globales (Wall Street OR Fed OR \"S&P 500\" OR cobre OR commodities OR empresas) economía" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "20" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "60f6a7b8-c9d0-4e12-3456-f01234567890",
      "name": "Noticias Internacionales",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [620, 640]
    },
    {
      "parameters": {
        "name": "movimientos_ejecutivos_prensa",
        "description": "Busca en prensa chilena de la ultima semana los nombramientos, salidas y cambios de ejecutivos: nuevos gerentes generales, CEOs, directores, VPs que entran o salen de empresas en Chile. Retorna JSON con titulares, fuente y enlace.",
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbm", "value": "nws" },
            { "name": "tbs", "value": "qdr:w" },
            { "name": "q", "value": "Chile (\"nuevo gerente general\" OR \"asume como gerente\" OR \"nombramiento\" OR \"deja el cargo\" OR \"nuevo CEO\" OR \"designó como\" OR \"renuncia gerente\")" },
            { "name": "gl", "value": "cl" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "20" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "70a7b8c9-d0e1-4f23-4567-012345678901",
      "name": "Movimientos Ejecutivos Prensa",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [780, 640]
    },
    {
      "parameters": {
        "name": "movimientos_ejecutivos_linkedin",
        "description": "Busca en LinkedIn (posts y articulos indexados por Google, ultima semana) anuncios de ejecutivos chilenos que cambian de trabajo: nuevos cargos, incorporaciones, salidas. Es la fuente de redes sociales para movimientos de ejecutivos. Retorna JSON con resultados y enlaces.",
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbs", "value": "qdr:w" },
            { "name": "q", "value": "(site:linkedin.com/posts OR site:linkedin.com/pulse) Chile (\"nuevo gerente general\" OR \"asumo como\" OR \"me incorporo a\" OR \"nueva etapa\" OR \"nuevo desafío\" OR \"nuevo rol\")" },
            { "name": "hl", "value": "es" },
            { "name": "num", "value": "15" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "80b8c9d0-e1f2-4034-5678-123456789012",
      "name": "Movimientos Ejecutivos LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [940, 640]
    },
    {
      "parameters": {
        "name": "empleos_google_jobs",
        "description": "Busca en Google Jobs ofertas de trabajo senior activas en Chile: Gerente General, Gerente, VP, Director, CEO, Country Manager. Google Jobs agrega LinkedIn, Laborum, Trabajando.com y sitios corporativos. Retorna JSON con titulo, empresa, ubicacion, descripcion y enlaces de postulacion.",
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google_jobs" },
            { "name": "q", "value": "\"Gerente General\" OR Gerente OR Director OR VP OR \"Vice President\" OR CEO OR \"Country Manager\" -practicante -junior -analista -internship" },
            { "name": "location", "value": "Chile" },
            { "name": "gl", "value": "cl" },
            { "name": "hl", "value": "es" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "90c9d0e1-f2a3-4145-6789-234567890123",
      "name": "Empleos Google Jobs",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1100, 640]
    },
    {
      "parameters": {
        "name": "empleos_linkedin",
        "description": "Busca ofertas de trabajo senior publicadas en LinkedIn Jobs para Chile en la ultima semana: Gerente, Gerente General, Director, VP, CEO. Retorna JSON con resultados incluyendo titulo, empresa y enlace directo a la oferta en LinkedIn.",
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "tbs", "value": "qdr:w" },
            { "name": "q", "value": "site:linkedin.com/jobs (Gerente OR \"Gerente General\" OR Director OR VP OR CEO OR \"Country Manager\") Chile -Practicante -Junior -Analista" },
            { "name": "hl", "value": "es" },
            { "name": "gl", "value": "cl" },
            { "name": "num", "value": "15" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a0d0e1f2-a3b4-4256-789a-345678901234",
      "name": "Empleos LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1260, 640]
    },
    {
      "parameters": {
        "name": "verificar_link",
        "description": "Verifica que una URL de oferta de empleo este activa. Hace GET a la URL y retorna el contenido de la pagina. Usala una vez por cada oferta antes de incluirla en el boletin: si retorna error, la pagina no carga, o el texto indica que la oferta esta cerrada / expirada / ya no disponible, descarta esa oferta.",
        "method": "GET",
        "url": "={{ $fromAI('url', 'URL completa de la oferta de empleo a verificar, por ejemplo https://www.linkedin.com/jobs/view/123456', 'string') }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b0e1f2a3-b4c5-4367-89ab-456789012345",
      "name": "Verificar Link",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1420, 640],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "bbrunetm@gmail.com",
        "subject": "=[BOLETÍN] Noticias Empresariales Chile + Empleos Senior - {{ $('Preparar Fechas').first().json.fechaCorta }}",
        "emailType": "html",
        "html": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c0f2a3b4-c5d6-4478-9abc-567890123456",
      "name": "Enviar Boletin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [820, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "GIlOgk58EyoAXQJU",
          "name": "Gmail - Susi"
        }
      }
    }
  ],
  "connections": {
    "Todos los dias a las 7AM": {
      "main": [
        [
          { "node": "Preparar Fechas", "type": "main", "index": 0 }
        ]
      ]
    },
    "Preparar Fechas": {
      "main": [
        [
          { "node": "Agente Boletin Empresarial", "type": "main", "index": 0 }
        ]
      ]
    },
    "Agente Boletin Empresarial": {
      "main": [
        [
          { "node": "Enviar Boletin", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Noticias Chile": {
      "ai_tool": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Noticias Internacionales": {
      "ai_tool": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Movimientos Ejecutivos Prensa": {
      "ai_tool": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Movimientos Ejecutivos LinkedIn": {
      "ai_tool": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Empleos Google Jobs": {
      "ai_tool": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Empleos LinkedIn": {
      "ai_tool": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Verificar Link": {
      "ai_tool": [
        [
          { "node": "Agente Boletin Empresarial", "type": "ai_tool", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}
